<div class="card">
    <h2>showListForm:</h2> {{showListForm}}
    <app-product-list *ngIf="showListForm == 'list' else list" #list
        [products]="products"
        (showListForm)="showPage($event)">
    </app-product-list >
    <app-product-form  *ngIf="showListForm == 'form' else form" #form
        (showListForm)="showPage($event)">
    </app-product-form>
    <app-product-detail *ngIf="showListForm == 'detail' else detail" #detail
        (showListForm)="showPage($event)">
    </app-product-detail>
</div>
