<p>client-data works!</p>

<hr>
<nb-list>
    <nb-list-item>
      <div class="row mx-0">
        <div class="col-3 d-flex flex-column">
          <span class="label-title">Cliente</span>
          <div class="h-100 d-flex align-items-center">
            <h6 class="m-0">GIOVANNI DONNANGELO DUPUY</h6>
          </div>
        </div>
        <div class="col-auto d-flex align-items-center icon-card-container">
          <i class="fab fa-cc-visa"></i>
        </div>
        <div class="col-2 d-flex flex-column">
          <span class="label-title">Contrato</span>
          <div class="h-100 d-flex align-items-center">
            <h6 class="m-0">9934557676</h6>
          </div>
        </div>
        <div class="col-2 d-flex flex-column">
          <span class="label-title">PAN</span>
          <div class="h-100 d-flex align-items-center">
            <h6 class="m-0">4566789977555557</h6>
          </div>
        </div>
        <div class="col-2 d-flex flex-column">
          <span class="label-title">Producto</span>
          <div class="h-100 d-flex align-items-center">
            <h6 class="m-0">INTERNACIONAL</h6>
          </div>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
        
