 
    <div class="card">
          <h3 class="card-header col-md-12 text-center">{{title}}</h3>
      <!-- El generador de formularios crea una FormGroupinstancia. Un grupo de formularios contiene una o varias FormControlentradas de usuario individuales. -->

      <form class="card-body"  (submit)="addProduct(nombre)">  <!--submit)="addProduct(nombre,image,descripcion)"  /////////  (ngSubmit)="onSubmit(nombre)"-->

        <div class="form-group" >   <!-- [ngClass]="{'has-error': ((productForm.get('nombre').touched ||productForm.get('nombre').dirty) && productForm.get('nombre').errors)}" -->  
          <input  type="text"  name="nombre"  class="form-control form-control-sm" placeholder="* Name" autofocus required   
            minlength="4" >
<!-- [(ngModel)]="product.nombre" -->
           <!--  <div class = "alert alert-danger" role = "alert" *ngIf = "nombre.errors && (nombre.touched || nombre.dirty)" >                
                nombre inválido
              </div>
              <div>{{product.name}}</div> -->
           <!--  
             [(ngModel)]="product.nombre" 
            <span class="help-block"
            *ngIf="((productForm.get('nombre').touched ||
                     productForm.get('nombre').dirty) &&
                     productForm.get('nombre').errors)">
        <span *ngIf="productForm.get('nombre').errors.required">
          Full Name is required
        </span>
      </span> -->
         </div> 
        
        <div class="form-group"> 
          <input type="url" name='image' #image placeholder="Imagen" class="form-control form-control-sm" >
        </div>

        <div class="form-group">
<!--           <textarea #descripcion class="form-control form-control-sm" placeholder="descripcion" required minlength="10"></textarea>
 -->         <textarea name="description"   cols="30" rows="10" placeholder="Descripcion" class="form-control form-control-sm"></textarea> 
        </div>
        
        <div class="class-row mx-0">  
            <button id="btncncel" class="col-auto  ml-4 mt-4" (click)="cancel()"> <i class="far fa-times-circle mr-2"
              style="color:rgb(10, 100, 33)"></i>Cancelar</button>
         
            <button id="btnAdd" class="col-auto  mr-0 mt-4" (click)="addProduct()"><i class="far fa-check-circle mr-2" 
              style="color: rgb(10, 100, 33)"></i>Agregar</button>
         
        </div>
        <!-- {{product|json}} -->
      </form>
    </div>
  <div><i class="fas fa-edit" (click)="edit(p)"></i></div>
  <div class="class-row mx-0">    
    <button (click)=" showList() " class="col-auto  mr-2 mt-4"> <i class="fas fa-list-ul mr-2"
        style="color:rgb(173, 226, 28) "></i>ver lista </button>
    <button (click)=" showDetail() " class="col-auto ml-2 mt-4"> <i class="fas fa-info-circle mr-2"
        style="color: rgb(173, 226, 28)"></i> ver detalle </button>
  </div>

  <!-- /////////////////////////////////////////////////////////////////// -->

  <div class="col-md-2" >      
        <img [src]="p.imagen" class="card-img-top">
        <div class="card card-body text-center">
           <h3> {{product.nombre}} _ {{product.descripcion}}</h3>
           <img [src]="product.imagen" >
        </div>
    </div>

<!-- <div class="row mx-0">
    <div class="col-auto d-flex align-items-center icon-card-container">
      <i class="fab fa-cc-visa"></i>
    </div>
    <div class="col-auto d-flex flex-column">
      <span class="label-title">Tarjeta</span> 
    -->
<!--<button class="btn btn-success btn-block" (click)="addProduct()"><i class="fa fa-save mr-3"></i>Submit</button>
 -->
<!-- <div class="col-md-4">
      <div class="card card-body text-center">
        <img  [src]="producto.imagen == '' ? 'asset/sinImagen.png' : producto.imagen" class="card-img-top">
        <h3>--{{producto.nombre == '' ? ' Falta Titulo' : producto.nombre}}</h3>
        <p>{{producto.descripcion == '' ? 'Falta descripcion': producto.descripcion}} </p>
      </div>
    </div> 
  -->