<table>
  <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>imagen</th>
      <th>descripcion</th>
      <th>tmstmp</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Soja</td>
      <td></td>
      <td>Soja de primera</td>
      <td>18/07/2019 12:00:00</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Soja</td>
      <td></td>
      <td>Soja de primera</td>
      <td>18/07/2019 12:00:00</td>
    </tr>
    <!-- <tr>
      <td>{{p.id}}</td>
      <td>{{p.nombre}}</td>
      <td>{{p.imagen}}</td>
      <td>{{p.descripcion}}</td>
      <td>{{p.tmstmp}}</td>
    </tr> -->
  </tbody>
</table>
<button (click)="showForm()">ver form</button>