
      
         
        <a href="/productos">Productos</a>
       
        <button (onclick)="productos()">Productos</button>
    <!-- <div class="col-6 my-2 px-0">
      <button type="submit" class="btn btn-primary btn-block" id="ventas" >Ventas</button>
    </div>
    <div class="col-6 my-2 px-0">
      <button type="submit" class="btn btn-primary btn-block" id="compras" >Compras</button>
    </div>
    <div class="col-6 my-2 px-0">
      <button type="submit" class="btn btn-primary btn-block" id="finanzas" >Finanzas</button>
    </div>  
    <div class="nav navbar-nav item">
        <ng-container >
            <a class="nav-link" routerLink="/empleados" routerLinkActive="active">
              <span>Empleados</span>
            </a>
          </ng-container>-->
