<div class="card">
  <div class="card-header">
    <h3 class="card-title">Barraca Cardona</h3>
  </div>
  <div class="card-body">
      <div class="menu-item-wrapper items-container">
          <ul class="nav flex-column">
            <li  class="nav-item" >
              <ng-container >
                <a class="nav-link" [routerLink]="/compras" routerLinkActive="active-link">
                  <span>Compras</span>
                </a>
              </ng-container>
              
            </li>
           
          </ul>
        </div>
    <!-- <div class="col-6 my-2 px-0">
      <button type="submit" class="btn btn-primary btn-block" id="ventas" >Ventas</button>
    </div>
    <div class="col-6 my-2 px-0">
      <button type="submit" class="btn btn-primary btn-block" id="compras" >Compras</button>
    </div>
    <div class="col-6 my-2 px-0">
      <button type="submit" class="btn btn-primary btn-block" id="finanzas" >Finanzas</button>
    </div>  
    <div class="nav navbar-nav item">
        <ng-container >
            <a class="nav-link" routerLink="/empleados" routerLinkActive="active">
              <span>Empleados</span>
            </a>
          </ng-container>-->
  </div>
</div>