<p>home works!
        {{pageTitle}}
</p>

<div class="card">
        <div class="card-header">
          {{pageTitle}}
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="text-center">
              <img src="../../../assets/cardona.jpg"
                   class="img-responsive center-block"
                   style="max-height:300px;padding-bottom:50px" />
            </div>
      <hr>
            <div class="text-center">Developed by:</div>
            <div class="text-center">
              <h3>Diego Oveja Negra</h3>
            </div>
      
            <div class="text-center">
              <a href="http://@diiegovera94@gmail.com">diiegovera94@gmail</a>
            </div>
          </div>
        </div>
      </div>
