<div class="container ">
    <!-- fila -->
    <h3 class="card-header col-md-12 text-center">{{title}}</h3>
    <div class="col-md-12">
        <p>DEBE MOSTRAR EL DETALLE</p>

        <div class="col-md-2" *ngFor="let p of productPrueba">
            <div class="crd-text-center">
                <div class="card-header d-flex justify-content-between  align-center text-white bg-dark">
                    {{p.nombre}}
                    <button class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
                <img [src]="p.imagen" class="card-img-top">
                <div class="card-body">
                    {{p.descripcion}}
                    <a href="" class="btn btn-info btn-block ">Editar</a>
                </div>
            </div>
        </div>
        <button (click)=" showList() " class="btn btn-info btn-block "> <i class="fas fa-list-ul mr-2"
                style="color:rgb(173, 226, 28) "></i>ver lista
        </button>

        <!-- <a routerLink="/products" class="btn btn-info btn-block" class="btn btn-info btn-block ">EDITAR </a> -->
    </div>
</div>
<!-- /**************//////////////////////////////////// -->
