<p>shipping-add works!</p>
<!--<nb-card accent="primary">
    <nb-card-header>Alta de Tarjeta de Crédito Adicional</nb-card-header>
    <nb-card-body>
      <div class="row mb-3">
        <div class="col-12">
           <app-client-data></app-client-data> 
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 mb-3">
          <div class="subtitle-container">
            <h5 class="m-0">Adicional</h5>
          </div>
        </div>
        <div class="col-12">
           <app-additional-client-data></app-additional-client-data> 
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label class="label-title">Nombre estampado</label>
            <input nbInput fullWidth fieldSize="small">
            <app-alert
            [message]="'Máximo 24 caracteres permitido.'"
            [status]="'primary'"
            [icon]="'fas fa-info-circle'">
          </app-alert>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <div class="subtitle-container">
          <h5 class="m-0">Límite de Crédito</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
         <app-credit-limit></app-credit-limit> 
      </div>
    </div>
  </nb-card-body>
  </nb-card>
  -->
  
