<div class="form-group">
    <input type="text" #dir class="form-control form-control-sm" placeholder="* Direccion " required
      minlength="4">
  </div>
  
  <div class="form-group">
    <input type="tel" #tel class="form-control form-control-sm" placeholder="Telefono">
  </div>

  <!-- 
<div class="col-12 mt-2">
<div class="custom-control custom-radio">
  <input id="no" type="radio" class="custom-control-input" value="no" name="algo" ngModel>
  <label class="custom-control-label" for="no">NO</label>
</div>

<div class="custom-control custom-radio">
  <input id="si" type="radio" class="custom-control-input" value="si" name="algo" ngModel checked>
  <label class="custom-control-label" for="si">SI</label>
</div>
</div> -->