
.card{
    
    border-top-color: rgb(42, 165, 58);
    top: 5px;
    margin-bottom: 5px;
    margin-top: 15px;

}
.btnGrande{
    text-decoration: none;
    padding: 10px;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #dff0a3;
    background-color: #ee97e2;
    border-radius: 6px;
    border: 2px solid #0016b0;
    
  }
  .card-body{
      background-color: rgb(206, 241, 199);
  }
  a:hover{
      color: coral;
      text-decoration: none;
    }