<div class="container " id="back">
  
      <a  class="nav-link" (click)="back()" >
        <img src="../../../assets/cardona.jpg" class="img-responsive  "
          style="max-height:40px"  />
          <span>{{title}}</span>
      </a> 
   <!--  </div>
    <div class="col-md-4">
      <h4><span>{{title}}</span></h4>
    </div> --> 
</div>



<!-- <a class="nav-link" (click)="back()" routerLinkActive="active-link">
  <i class="far fa-arrow-alt-circle-left mr-3" style="color: rgb(226, 28, 183);font-size: 34px"></i>
</a> -->