h4, h3{
    color: rgb(226, 28, 183);
    
}
.btn{
    border-radius: 10px;
}
#sepa{
    background-color: greenyellow;
    size: 10px;
}
.card{
    
    border-top-color: greenyellow;
    top: 10px;
    margin-bottom: 15px;
    margin-top: 15px;

}

.form-group{
    background: rgb(203, 236, 175) ;
    padding : 5px;
    margin  : 0;
    position: relative;
}

.class{
    padding : 20px;
    margin  : 5px;
}
#addProd{
    padding : 10px;
    margin  : 5px;
    border-radius: 10px
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }