<p>employee-list works!</p>

<nb-list>
    <nb-list-item>
      <div class="row mx-0">
        <div class="col-auto d-flex align-items-center icon-card-container">
          <i class="fab fa-cc-visa"></i>
        </div>
        <div class="col-3 d-flex flex-column">
          <span class="label-title">Tarjeta</span>
          <h6 class="m-0">45678899007776344443</h6>
        </div>
        <div class="col-2 d-flex flex-column">
          <span class="label-title">Contrato</span>
          <h6 class="m-0">909745667</h6>
        </div>
        <div class="col-6 d-flex flex-column">
          <span class="label-title">Cliente</span>
          <h6 class="m-0">GIOVANNI DONNANGELO DUPUY</h6>
        </div>
      </div>
    </nb-list-item>
  </nb-list>
